<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="./assets/css/style_home.css">
    <title>Baby Community</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li id="logo"><a href="/babyCommunity/">Baby Community</a></li>
                <li><a href="#">Poster une annonce</a></li>
                <li><a href="/babyCommunity/annonce">Les annonces</a></li>
                <li><a href="/babyCommunity/create_co">S'inscrire | Se connecter</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <form>
            <h2 id="contact">Postez une annonce</h2>
            <div class="box-input">
                <input type="text" name="titre_annonce" placeholder="Titre">
                <!-- <span>Prénom</span> -->
            </div>

            <div class="box-input">
                <textarea cols="30" rows="10" name="contenu_annonce" placeholder="Décrivez l'article"></textarea>
                <!-- <span>Dites moi tout !</span> -->
            </div>

            <div class="box-input">
                <input type="text" name="taille_annonce" placeholder="Taille">
                <!-- <span>Email</span> -->
            </div>

            <div class="box-input">
                <input type="text" name="prix_annonce" placeholder="Prix">
                <!-- <span>Email</span> -->
            </div>
            <button>Poster</button>
        </form>

    </section>

        <footer>
            <h2 id="contact">Contactez-moi</h2>
            <form>
                <div class="box-input">
                    <input type="text" name="prénom_util" placeholder="Prénom" required>
                    <!-- <span>Prénom</span> -->
                </div>
                <div class="box-input">
                    <input type="mail" name="mail_util" placeholder="Email" required>
                    <!-- <span>Email</span> -->
                <div class="box-input">
                    <textarea cols="30" rows="10" name="contenu_contact" placeholder="Dites moi tout !" required></textarea>
                    <!-- <span>Dites moi tout !</span> -->
                </div>
                <button>Envoyer</button>
            </form>
    
            <div id="trait2"></div>
    
            <div id="copyrightIcon">
                <div id="copyright">
                    <span>© Alix Santa; 2022</span>
                </div>
                <div id="icons">
                    <a href="https://www.instagram.com/kfc.es/?hl=fr"><img src="../assets/medias/instagram.png"></a>
                    <a href="https://twitter.com/KFC_ES"><img src="../assets/medias/twitter.png"></a>
                    <a href="https://twitter.com/KFC_ES"><img src="../assets/medias/facebook.png"></a>
                </div>
                <span>Mentions légales</span>
            </div>
        </footer>
    </body>
    </html>