<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <!-- <link rel="stylesheet" href="./assets/css/style.css"> -->
    <link rel="stylesheet" href="./assets/css/style_connect.css">
    <title>Baby Community</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li id="logo"><a href="#">Baby Community</a></li>
                <li><a href="#">Connexion</a></li>
                <li><a href="#">Les annonces</a></li>
                <li><a href="#">Les activités</a></li>
            </ul>
        </nav>
    </header>
            <!-- *****CONNEXION***** -->
    <section class="section-form">
        <div class="content_co">
            <h3>Identifiez-vous</h3>
            <form class="style-form" method="post" align="center">
                <div class="box-input">
                    <input type="mail" name="mail_util" placeholder="Email">
                    <span>saisissez votre email</span>
                </div>

                <div class="box-input">
                    <input type="password" name="mdp_util" placeholder="Mot de passe">
                    <span>Mot de passe</span>
                </div>

                <div>
                    <input type="submit" value="Se Connecter" name="connexion">
                </div>
            </form>
        </div>

        <div class="vertic"></div>

            <!-- *****CREATION COMPTE***** -->
        <div class="content_add">
            <h3>Vous n'avez pas encore de compte ? <br>Créez ici votre compte :</h3>
            <form class="style-form" method="post">

                <div class="box-input">
                    <input type="text" name="nom_util" placeholder="Saisissez votre nom" required>
                    <span>Votre nom</span>
                </div>
                <div class="box-input">
                    <input type="text" name="prenom_util" placeholder="Votre prénom" required>
                    <span>Votre prénom</span>
                </div>
                <div class="box-input">
                    <input type="text" name="pseudo_util" placeholder="Un pseudo" required>
                    <span>Un pseudo</span>
                </div>
                <div class="box-input">
                    <input type="mail" name="mail_util" placeholder="Votre adresse mail" required>
                    <span>Votre email</span>
                </div>

                <div class="box-input">
                    <input type="password" name="mdp_util" placeholder="Un mot de passe" required>
                    <span>Un mot de passe</span>
                </div>

                <div class="box-input">
                    <input type="password" name="confirm_mdp" placeholder="Confirmez le mot de passe" required>
                    <span>Confirmez le mot de passe</span>
                </div>

                <div>
                    <input type="submit" value="Enregister" name="creation">
                </div>
            </form>
        </div>
    </section>

        <!-- ********* FOOTER ********* -->
        <footer>
            <h2 id="contact">Contactez-moi</h2>
            <form>
                <input type="text" placeholder="Nom">
                <input type="text" placeholder="Email">
                <textarea cols="30" rows="10" placeholder="dites nous tout !"></textarea>
                <button>Envoyer</button>
            </form>
    
            <div id="trait2"></div>
    
            <div id="copyrightIcon">
                <div id="copyright">
                    <span>© Alix Santa; 2022</span>
                </div>
                <div id="icons">
                    <a href="https://www.instagram.com/kfc.es/?hl=fr"><img src="../assets/medias/instagram.png"></a>
                    <a href="https://twitter.com/KFC_ES"><img src="../assets/medias/twitter.png"></a>
                    <a href="https://twitter.com/KFC_ES"><img src="../assets/medias/facebook.png"></a>
                </div>
                <span>Mentions légales</span>
            </div>
        </footer>
</body>
</html>
