<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style_home.css">
    <title>Annonces</title>
</head>
<body>
    <!-- Barre de navigation -->
    <header>
        <nav>
            <ul>
                <li id="logo"><a href="/babyCommunity/">Baby Community</a></li>
                <li><a href="#">Poster une annonce</a></li>
                <li><a href="/babyCommunity/annonce">Les annonces</a></li>
                <li><a href="/babyCommunity/create_co">S'inscrire | Se connecter</a></li>
            </ul>
        </nav>
    </header>
    <!-- Annonces -->
    <section>
        <div class="cardContainer">

            <div class="card">
                <img src="../assets/medias/poussette.jpg" width="300" alt="">
                <div class="annonce_details">
                    <h4 class="annonce_name">Vend poussette très peu servie</h4>
                    <p class="annonce_price">70€</p>
                </div>
            </div>

            <div class="card">
                <img src="../assets/medias/chambre.jpg" width="200" alt="">
                <h4>Chambre d'enfant complète en bon état</h4>
                <p>500€</p>
            </div>

            <div class="card">
                <img src="../assets/medias/duplo.jpg" width="200" alt="">
                <h4>Vend lot de bloc de construction</h4>
                <p>15€</p>
            </div>

            <div class="card">
                <img src="../assets/medias/poussette.jpg" width="300" alt="">
                <div class="annonce_details">
                    <h4 class="annonce_name">Vend poussette très peu servie</h4>
                    <p class="annonce_price">70€</p>
                </div>
            </div>

            <div class="card">
                <img src="../assets/medias/chambre.jpg" width="200" alt="">
                <h4>Chambre d'enfant complète en bon état</h4>
                <p>500€</p>
            </div>

            <div class="card">
                <img src="../assets/medias/duplo.jpg" width="200" alt="">
                <h4>Vend lot de bloc de construction</h4>
                <p>15€</p>
            </div>


            <div class="card">
                <img src="../assets/medias/poussette.jpg" width="300" alt="">
                <div class="annonce_details">
                    <h4 class="annonce_name">Vend poussette très peu servie</h4>
                    <p class="annonce_price">70€</p>
                </div>
            </div>

            <div class="card">
                <img src="../assets/medias/chambre.jpg" width="200" alt="">
                <h4>Chambre d'enfant complète en bon état</h4>
                <p>500€</p>
            </div>

            <div class="card">
                <img src="../assets/medias/duplo.jpg" width="200" alt="">
                <h4>Vend lot de bloc de construction</h4>
                <p>15€</p>
            </div>
        </div>

        <div class="container">
            <div class="box-position-relative">
                <div class="feed-grid__item-content">
                    <div class="u-flex-grow u-fill-width">
                        <div class="itemBox">
                            <div class="itemBox__utilisateur">

                            </div>
                            <div class="itemBox__image">

                            </div>
                            <div class="box_data">
                                <div class="data__content">
                                    <div class="price"></div>
                                    <div class="description__article">
                                        <div class="box_taille"></div>
                                        <div class="box_marque"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn" type="button">Découvrez plus d'annonces</button>
    </section>
</body>
</html>