@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@500&family=Joan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body{
    font-family: 'Poppins';
    background-color: #F1E3D3;
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
h2{
    color: #B56576;
    /* font-family: 'Abril Fatface'; */
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
    /* position: relative; */
    margin-left: 15px;
}
/* h2::before{
    content: "";
    position: absolute;
    background-color: #EAAC8B;
    width: 50px;
    height: 7px;
    bottom: 0;
} */
a{
    text-decoration: none;
    color: black;
}

/* *********NAVBAR********* */
nav{
    overflow: hidden;
    background-color: #EAAC8B;
    /* position: fixed; */
    width: 100%;
}
header li{
    float: right;
    font-size: 1em;
}
header li a{
    color: #B56576;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}
header li a:hover{
    transition: 0.3s ease;
    color:#F1E3D3;
}
#logo{
    color: #E56B6F;
    font-family: 'Abril Fatface';
    /* font-weight: bold; */
    float: left;
}




/* ********* FOOTER ********* */
footer{
    background-color: #B56576;
    padding: 20px 0 10px 0;
    text-align: center;
}
footer h2{
    color: #F1E3D3;
}
footer h2:hover{
    opacity: 0.5;
}
footer form{
    margin: 0 auto;
    max-width: 900px;
}
form input, textarea, button{
    border: none;
    width: 50%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1em;
    font-family: 'Poppins';
    border-radius: 8px;
    margin-bottom: 20px;
}
textarea{
    height: 100px;
}
button:hover{
    transform: scale(1.1);
    transition: 0.6s;
    color: #FFFFFF;
    background-color: #EAAC8B;
    cursor: pointer;
} 
#trait2{
    height: 1px;
    width: 75%;
    background-color: #F1E3D3;
    margin: 60px auto;
}
#copyrightIcon{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 0 10%;
}
span{
    width: auto;
    text-align: left;
    color: #B56576;
    font-size: 1.2em;
}
#icons{
    text-align: right;
}
#icons a{
    color: #F1E3D3;
    display: inline-block;
    padding: 0 15px;
    font-size: 1.3em;
}
#icons a:hover{
    transform: scale(1.5);
    transition: 0.6s;
}